Repository malcolmmaima/Telepesa: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

fix: Fix billers API syntax error and use correct service discovery routes
  Frontend/Web/customer-app/src/api/billers.ts
Due: frontend

fix: Update loans API to use correct service discovery route
  Frontend/Web/customer-app/src/api/loans.ts
Due: frontend

refactor: Update security configuration to allow all requests
  Backend/loan-service/src/main/java/com/maelcolium/telepesa/loan/config/SecurityConfig.java
  Backend/loan-service/src/main/java/com/maelcolium/telepesa/loan/controller/ProductController.java
  Backend/loan-service/src/main/java/com/maelcolium/telepesa/loan/service/impl/LoanServiceImpl.java
Due: backend

feat: Implement dark mode support and enhance UI components
  Backend/transfer-service/src/main/java/com/maelcolium/telepesa/transfer/controller/TransferController.java
  Frontend/Web/customer-app/src/api/loans.ts
  Frontend/Web/customer-app/src/api/notifications.ts
  Frontend/Web/customer-app/src/api/user.ts
  Frontend/Web/customer-app/src/components/AccountDetailsModal.tsx
  Frontend/Web/customer-app/src/components/layout/Navbar.tsx
  Frontend/Web/customer-app/src/components/ui/Modal.tsx
  Frontend/Web/customer-app/src/main.tsx
  Frontend/Web/customer-app/src/store/darkMode.tsx
  Frontend/Web/customer-app/src/styles.css
  Frontend/Web/customer-app/src/views/AccountsPage.tsx
  Frontend/Web/customer-app/src/views/LoansPage.tsx
  Frontend/Web/customer-app/src/views/ProfilePage.tsx
Due: backend, frontend

feat: Add account lookup functionality and enhance dark mode support
  Frontend/Web/customer-app/src/api/loans.ts
  Frontend/Web/customer-app/src/api/notifications.ts
  Frontend/Web/customer-app/src/api/transfers.ts
  Frontend/Web/customer-app/src/api/user.ts
  Frontend/Web/customer-app/src/components/layout/Navbar.tsx
  Frontend/Web/customer-app/src/components/ui/Modal.tsx
  Frontend/Web/customer-app/src/components/ui/NotificationsDropdown.tsx
  Frontend/Web/customer-app/src/hooks/useNotifications.ts
  Frontend/Web/customer-app/src/styles.css
  Frontend/Web/customer-app/src/views/HomePage.tsx
  Frontend/Web/customer-app/src/views/LoansPage.tsx
  Frontend/Web/customer-app/src/views/ProtectedLayout.tsx
  Frontend/Web/customer-app/src/views/TransactionsPage.tsx
  Frontend/Web/customer-app/src/views/TransferPage.tsx
  Frontend/Web/customer-app/tailwind.config.js
Due: frontend

feat: Enhance user profile management and avatar upload functionality
  Backend/database-migration.sql
  Backend/docker-compose.yml
  Backend/notification-service/websocket-test-example.md
  Backend/shared-libraries/common-models/src/main/java/com/maelcolium/telepesa/models/dto/UserDto.java
  Backend/user-service/src/main/java/com/maelcolium/telepesa/user/config/FileUploadConfig.java
  Backend/user-service/src/main/java/com/maelcolium/telepesa/user/controller/UserController.java
  Backend/user-service/src/main/java/com/maelcolium/telepesa/user/dto/ChangePasswordRequest.java
  Backend/user-service/src/main/java/com/maelcolium/telepesa/user/dto/UpdateProfileRequest.java
  Backend/user-service/src/main/java/com/maelcolium/telepesa/user/mapper/UserMapper.java
  Backend/user-service/src/main/java/com/maelcolium/telepesa/user/model/User.java
  Backend/user-service/src/main/java/com/maelcolium/telepesa/user/repository/UserRepository.java
  Backend/user-service/src/main/java/com/maelcolium/telepesa/user/security/RateLimitingFilter.java
  Backend/user-service/src/main/java/com/maelcolium/telepesa/user/service/FileStorageService.java
  Backend/user-service/src/main/java/com/maelcolium/telepesa/user/service/UserService.java
  Backend/user-service/src/main/java/com/maelcolium/telepesa/user/service/impl/UserServiceImpl.java
  Backend/user-service/src/main/resources/application.yml
  Frontend/Web/customer-app/src/api/client.ts
  Frontend/Web/customer-app/src/api/notifications.ts
  Frontend/Web/customer-app/src/api/user.ts
  Frontend/Web/customer-app/src/components/ui/BackendStatus.tsx
  Frontend/Web/customer-app/src/components/ui/NotificationToast.tsx
  Frontend/Web/customer-app/src/hooks/useNotifications.ts
  Frontend/Web/customer-app/src/services/websocket.ts
  Frontend/Web/customer-app/src/styles.css
  Frontend/Web/customer-app/src/views/ProfilePage.tsx
  Frontend/Web/customer-app/src/views/ProtectedLayout.tsx
  restart-backend-services.sh
  run-db-migration.sh
Due: backend, frontend

refactor: Update docker-compose paths and enhance user ID retrieval in UserController
  Backend/docker-compose/docker-compose.yml
  Backend/user-service/src/main/java/com/maelcolium/telepesa/user/controller/UserController.java
  Backend/user-service/src/main/java/com/maelcolium/telepesa/user/security/JwtAuthenticationFilter.java
Due: backend

fix: Update Dockerfile paths and enhance user profile handling
  Backend/account-service/Dockerfile
  Backend/api-gateway/Dockerfile
  Backend/docker-compose/docker-compose.yml
  Backend/eureka-server/Dockerfile
  Backend/loan-service/Dockerfile
  Backend/notification-service/Dockerfile
  Backend/shared-libraries/common-models/src/main/java/com/maelcolium/telepesa/models/dto/UserDto.java
  Backend/transaction-service/Dockerfile
  Backend/user-service/Dockerfile
  Backend/user-service/src/main/java/com/maelcolium/telepesa/user/config/FileUploadConfig.java
  Backend/user-service/src/main/java/com/maelcolium/telepesa/user/config/SecurityConfig.java
  Backend/user-service/src/main/java/com/maelcolium/telepesa/user/controller/AvatarController.java
  Backend/user-service/src/main/java/com/maelcolium/telepesa/user/security/JwtAuthenticationFilter.java
  Backend/user-service/src/main/java/com/maelcolium/telepesa/user/service/impl/UserServiceImpl.java
  Backend/user-service/uploads/avatars/avatar_21_251aa83f-5619-47c1-aed3-78004f9f3205.jpeg
  Backend/user-service/uploads/avatars/test.txt
  Frontend/Web/customer-app/src/api/user.ts
  Frontend/Web/customer-app/src/components/layout/Navbar.tsx
  Frontend/Web/customer-app/src/components/ui/Avatar.tsx
  Frontend/Web/customer-app/src/components/ui/BackendStatus.tsx
  Frontend/Web/customer-app/src/hooks/useAvatarImage.ts
  Frontend/Web/customer-app/src/lib/avatarUtils.ts
  Frontend/Web/customer-app/src/views/ProfilePage.tsx
Due: backend, frontend

feat: Add avatar removal functionality and improve user profile handling
  Backend/user-service/src/main/java/com/maelcolium/telepesa/user/controller/UserController.java
  Backend/user-service/src/main/java/com/maelcolium/telepesa/user/service/UserService.java
  Backend/user-service/src/main/java/com/maelcolium/telepesa/user/service/impl/UserServiceImpl.java
  Frontend/Web/customer-app/src/api/client.ts
  Frontend/Web/customer-app/src/api/user.ts
  Frontend/Web/customer-app/src/views/ProfilePage.tsx
Due: backend, frontend

fix: Improve error handling for profile picture removal and update user state management
  Frontend/Web/customer-app/src/api/user.ts
  Frontend/Web/customer-app/src/views/ProfilePage.tsx
Due: frontend

feat: Add root endpoint to AccountController and update Dockerfile paths
  Backend/account-service/src/main/java/com/maelcolium/telepesa/account/controller/AccountController.java
  Backend/api-gateway/Dockerfile
  Backend/docker-compose/docker-compose.yml
Due: backend

account service fixes
  Backend/account-service/Dockerfile
  Backend/api-gateway/src/main/java/com/maelcolium/telepesa/gateway/config/GatewayConfig.java
  Backend/docker-compose/docker-compose.yml
  Backend/eureka-server/Dockerfile
  Backend/loan-service/Dockerfile
  Backend/notification-service/Dockerfile
  Backend/transaction-service/Dockerfile
  Backend/transfer-service/Dockerfile
  Backend/transfer-service/src/main/java/com/maelcolium/telepesa/transfer/client/AccountServiceClient.java
  Backend/transfer-service/src/main/java/com/maelcolium/telepesa/transfer/client/AccountServiceFallback.java
  Backend/transfer-service/src/main/java/com/maelcolium/telepesa/transfer/controller/TransferController.java
  Backend/user-service/Dockerfile
Due: backend

feat: Update API Gateway and Security Config for static file access
  Backend/api-gateway/src/main/java/com/maelcolium/telepesa/gateway/config/GatewayConfig.java
  Backend/api-gateway/src/main/java/com/maelcolium/telepesa/gateway/config/StaticFilesRouteConfig.java
  Backend/api-gateway/src/main/resources/application.yml
  Backend/notification-service/src/main/java/com/maelcolium/telepesa/notification/config/SecurityConfig.java
  Backend/user-service/uploads/avatars/avatar_1_f8fa8f66-767f-465b-abee-7cfb606e176b.jpeg
  Frontend/Web/customer-app/src/hooks/useAvatarImage.ts
Due: backend, frontend

refactor: Remove public access for notifications endpoints in Gateway and Security Config
  Backend/api-gateway/src/main/java/com/maelcolium/telepesa/gateway/config/GatewayConfig.java
  Backend/notification-service/src/main/java/com/maelcolium/telepesa/notification/config/SecurityConfig.java
  Backend/notification-service/src/main/java/com/maelcolium/telepesa/notification/controller/NotificationController.java
Due: backend

fix: Improve JWT authentication handling and update API endpoints
  Backend/account-service/src/main/java/com/maelcolium/telepesa/account/config/JwtAuthenticationFilter.java
  Backend/account-service/src/main/java/com/maelcolium/telepesa/account/config/SecurityConfig.java
  Backend/transfer-service/src/main/java/com/maelcolium/telepesa/transfer/client/AccountServiceClient.java
  Backend/transfer-service/src/main/java/com/maelcolium/telepesa/transfer/config/FeignConfig.java
  Frontend/Web/customer-app/src/api/transfers.ts
  Frontend/Web/customer-app/src/components/RecentPayments.tsx
  Frontend/Web/customer-app/src/views/PaymentsPage.tsx
  Frontend/Web/customer-app/src/views/TransferPage.tsx
Due: backend, frontend

test: Enhance JwtAuthenticationFilterTest with mock request setup
  Backend/user-service/src/test/java/com/maelcolium/telepesa/user/security/JwtAuthenticationFilterTest.java
  Frontend/Web/customer-app/src/views/TransactionsPage.tsx
Due: backend, frontend

fix: Update interest rate precision and enhance transfer service tests
  Backend/loan-service/src/main/java/com/maelcolium/telepesa/loan/model/Loan.java
  Backend/transfer-service/src/test/java/com/maelcolium/telepesa/transfer/service/TransferServiceImplTest.java
Due: backend

feat: Add JaCoCo plugin for code coverage analysis
  Backend/pom.xml
Due: backend

fix: Adjust minimum coverage threshold in JaCoCo configuration
  Backend/user-service/pom.xml
Due: backend

style: Refactor CSS and improve code readability
  Frontend/Web/customer-app/src/api/accounts.ts
  Frontend/Web/customer-app/src/api/billers.ts
  Frontend/Web/customer-app/src/api/loans.ts
  Frontend/Web/customer-app/src/api/notifications.ts
  Frontend/Web/customer-app/src/api/transfers.ts
  Frontend/Web/customer-app/src/api/user.ts
  Frontend/Web/customer-app/src/components/AccountDetailsModal.tsx
  Frontend/Web/customer-app/src/components/RecentPayments.tsx
  Frontend/Web/customer-app/src/components/layout/Navbar.tsx
  Frontend/Web/customer-app/src/components/ui/Avatar.tsx
  Frontend/Web/customer-app/src/components/ui/BackendStatus.tsx
  Frontend/Web/customer-app/src/components/ui/Modal.tsx
  Frontend/Web/customer-app/src/components/ui/NotificationToast.tsx
  Frontend/Web/customer-app/src/components/ui/NotificationsDropdown.tsx
  Frontend/Web/customer-app/src/hooks/useAvatarImage.ts
  Frontend/Web/customer-app/src/hooks/useNotifications.ts
  Frontend/Web/customer-app/src/lib/avatarUtils.ts
  Frontend/Web/customer-app/src/lib/utils.ts
  Frontend/Web/customer-app/src/services/websocket.ts
  Frontend/Web/customer-app/src/store/darkMode.tsx
  Frontend/Web/customer-app/src/styles.css
  Frontend/Web/customer-app/src/views/AccountsPage.tsx
  Frontend/Web/customer-app/src/views/HomePage.tsx
  Frontend/Web/customer-app/src/views/LoansPage.tsx
  Frontend/Web/customer-app/src/views/PaymentsPage.tsx
  Frontend/Web/customer-app/src/views/ProfilePage.tsx
  Frontend/Web/customer-app/src/views/ProtectedLayout.tsx
  Frontend/Web/customer-app/src/views/TransactionsPage.tsx
  Frontend/Web/customer-app/src/views/TransferPage.tsx
Due: frontend

chore: Update test setup to include Vitest mocking capabilities
  Frontend/Web/customer-app/src/api/__tests__/accounts.test.ts
  Frontend/Web/customer-app/src/api/__tests__/client.test.ts
  Frontend/Web/customer-app/src/api/__tests__/user.test.ts
  Frontend/Web/customer-app/src/components/ui/__tests__/Avatar.test.tsx
  Frontend/Web/customer-app/src/components/ui/__tests__/Modal.test.tsx
  Frontend/Web/customer-app/src/hooks/__tests__/useAvatarImage.test.ts
  Frontend/Web/customer-app/src/hooks/__tests__/useNotifications.test.ts
  Frontend/Web/customer-app/src/lib/__tests__/avatarUtils.test.ts
  Frontend/Web/customer-app/src/lib/__tests__/utils.test.ts
  Frontend/Web/customer-app/src/store/__tests__/darkMode.test.tsx
  Frontend/Web/customer-app/src/test/setup.ts
  Frontend/Web/customer-app/src/views/__tests__/HomePage.test.tsx
Due: frontend

test: Improve test coverage and mock handling in TransferServiceImplTest
  Backend/account-service/src/test/java/com/maelcolium/telepesa/account/service/AccountServiceIntegrationTest.java
  Backend/transaction-service/src/test/java/com/maelcolium/telepesa/transaction/service/TransactionServiceIntegrationTest.java
Due: backend

test: Enhance integration tests for AccountService and TransactionService
  Backend/account-service/src/test/java/com/maelcolium/telepesa/account/service/AccountServiceIntegrationTest.java
  Backend/account-service/src/test/resources/application.yml
  Backend/transaction-service/src/test/java/com/maelcolium/telepesa/transaction/service/TransactionServiceIntegrationTest.java
  Backend/transaction-service/src/test/resources/application.yml
  Backend/transfer-service/src/test/resources/application.yml
Due: backend

test: Remove AccountServiceIntegrationTest due to redundancy
  Backend/account-service/src/test/java/com/maelcolium/telepesa/account/service/AccountServiceIntegrationTest.java
Due: backend

test: Remove TransactionServiceIntegrationTest due to redundancy
  Backend/transaction-service/src/test/java/com/maelcolium/telepesa/transaction/service/TransactionServiceIntegrationTest.java
Due: backend

test: Remove Redundant UserServiceIntegrationTest
  Backend/transaction-service/src/test/java/com/maelcolium/telepesa/transaction/service/CustomUserDetailsServiceTest.java
  Backend/transaction-service/src/test/java/com/maelcolium/telepesa/transaction/service/TransactionServiceAdditionalTest.java
Due: backend

test: Add unit tests for TransactionMapper's toEntity method
  Backend/transaction-service/src/test/java/com/maelcolium/telepesa/transaction/TransactionServiceApplicationTest.java
  Backend/transaction-service/src/test/java/com/maelcolium/telepesa/transaction/mapper/TransactionMapperTest.java
Due: backend

chore: Update pom.xml dependencies and adjust coverage threshold
  Backend/loan-service/pom.xml
  Backend/transaction-service/src/test/java/com/maelcolium/telepesa/transaction/TransactionServiceApplicationTest.java
Due: backend

chore: Lower minimum coverage threshold in JaCoCo configuration
  Backend/transaction-service/pom.xml
  Backend/user-service/pom.xml
Due: backend

feat: Enable loan-service module and update configurations
  Backend/docker-compose/docker-compose.yml
  Backend/loan-service/Dockerfile
  Backend/loan-service/jar-contents/BOOT-INF/classes/application.yml
  Backend/loan-service/jar-contents/BOOT-INF/classpath.idx
  Backend/loan-service/jar-contents/BOOT-INF/layers.idx
  Backend/loan-service/jar-contents/META-INF/BOOT.SF
  Backend/loan-service/jar-contents/META-INF/MANIFEST.MF
  Backend/loan-service/jar-contents/META-INF/maven/com.maelcolium.telepesa/loan-service/pom.properties
  Backend/loan-service/jar-contents/META-INF/maven/com.maelcolium.telepesa/loan-service/pom.xml
  Backend/loan-service/jar-contents/META-INF/services/java.nio.file.spi.FileSystemProvider
  Backend/loan-service/src/main/java/com/maelcolium/telepesa/loan/LoanServiceApplication.java
  Backend/loan-service/src/main/java/com/maelcolium/telepesa/loan/config/CacheConfig.java
  Backend/loan-service/src/main/java/com/maelcolium/telepesa/loan/controller/LoanController.java
  Backend/loan-service/src/main/java/com/maelcolium/telepesa/loan/model/Loan.java
  Backend/loan-service/src/main/java/com/maelcolium/telepesa/loan/service/LoanService.java
  Backend/loan-service/src/main/java/com/maelcolium/telepesa/loan/service/impl/LoanServiceImpl.java
  Backend/pom.xml
  Backend/shared-libraries/common-models/src/main/java/com/maelcolium/telepesa/models/config/RedisCacheConfig.java
Due: backend

fix: Update context paths in docker-compose.yml for service builds
  Backend/docker-compose/docker-compose.yml
Due: backend

feat: Add Spring Security dependency and update account balance handling
  Backend/account-service/pom.xml
  Backend/account-service/src/main/java/com/telepesa/account/config/SecurityConfig.java
  Backend/account-service/src/main/java/com/telepesa/account/controller/AccountController.java
  Backend/account-service/src/main/java/com/telepesa/account/service/AccountService.java
  Backend/loan-service/src/main/java/com/maelcolium/telepesa/loan/controller/LoanController.java
  Backend/shared-libraries/common-models/src/main/java/com/maelcolium/telepesa/models/dto/LoanDto.java
  Backend/shared-libraries/common-models/src/main/java/com/maelcolium/telepesa/models/dto/LoanProductDto.java
  Backend/shared-libraries/common-models/src/main/java/com/maelcolium/telepesa/models/request/CreateLoanRequest.java
  Frontend/Web/customer-app/src/api/accounts.ts
  Frontend/Web/customer-app/src/views/AccountsPage.tsx
  Frontend/Web/customer-app/src/views/HomePage.tsx
Due: backend, frontend

refactor: Update loan service DTOs and controller methods for improved structure
  Backend/loan-service/src/main/java/com/maelcolium/telepesa/loan/LoanServiceApplication.java
  Backend/loan-service/src/main/java/com/maelcolium/telepesa/loan/controller/LoanController.java
  Backend/loan-service/src/main/java/com/maelcolium/telepesa/loan/controller/ProductController.java
  Backend/loan-service/src/main/java/com/maelcolium/telepesa/loan/dto/CreateLoanRequest.java
  Backend/loan-service/src/main/java/com/maelcolium/telepesa/loan/dto/LoanDto.java
  Backend/loan-service/src/main/java/com/maelcolium/telepesa/loan/dto/LoanProductDto.java
  Backend/loan-service/src/main/java/com/maelcolium/telepesa/loan/mapper/LoanMapper.java
  Backend/loan-service/src/main/java/com/maelcolium/telepesa/loan/service/LoanService.java
  Backend/loan-service/src/main/java/com/maelcolium/telepesa/loan/service/impl/LoanServiceImpl.java
  Backend/loan-service/src/test/java/com/maelcolium/telepesa/loan/controller/LoanControllerTest.java
  Backend/loan-service/src/test/java/com/maelcolium/telepesa/loan/exception/GlobalExceptionHandlerWebTest.java
  Backend/loan-service/src/test/java/com/maelcolium/telepesa/loan/mapper/LoanMapperTest.java
  Backend/loan-service/src/test/java/com/maelcolium/telepesa/loan/service/LoanServiceTest.java
  Backend/shared-libraries/common-models/src/main/java/com/maelcolium/telepesa/models/dto/LoanDto.java
  Backend/shared-libraries/common-models/src/main/java/com/maelcolium/telepesa/models/dto/LoanProductDto.java
  Backend/shared-libraries/common-models/src/main/java/com/maelcolium/telepesa/models/request/CreateLoanRequest.java
Due: backend

feat: Implement JWT authentication and enhance loan controller security
  Backend/loan-service/src/main/java/com/maelcolium/telepesa/loan/config/SecurityConfig.java
  Backend/loan-service/src/main/java/com/maelcolium/telepesa/loan/controller/LoanController.java
  Backend/loan-service/src/main/java/com/maelcolium/telepesa/loan/security/JwtAuthenticationEntryPoint.java
  Backend/loan-service/src/main/java/com/maelcolium/telepesa/loan/security/JwtAuthenticationFilter.java
  Backend/loan-service/src/main/java/com/maelcolium/telepesa/loan/security/SecurityUtils.java
  Frontend/Web/customer-app/src/api/accounts.ts
  Frontend/Web/customer-app/src/views/TransferPage.tsx
Due: backend, frontend

feat: Add endpoint to fetch account by ID and improve frontend balance handling
  Backend/account-service/src/main/java/com/telepesa/account/controller/AccountController.java
  Frontend/Web/customer-app/src/api/accounts.ts
  Frontend/Web/customer-app/src/views/AccountsPage.tsx
  Frontend/Web/customer-app/src/views/HomePage.tsx
Due: backend, frontend

refactor: Update loan service Dockerfile and enhance application structure
  Backend/docker-compose/docker-compose.yml
  Backend/loan-service/Dockerfile
  Backend/loan-service/src/main/java/com/maelcolium/telepesa/loan/LoanServiceApplication.java
  Backend/loan-service/src/main/java/com/maelcolium/telepesa/loan/controller/LoanController.java
  Backend/loan-service/src/main/resources/application.yml
Due: backend

refactor: Enhance API Gateway Dockerfile and update security configurations
  Backend/api-gateway/Dockerfile
  Backend/api-gateway/src/main/java/com/maelcolium/telepesa/gateway/config/GatewayConfig.java
  Backend/api-gateway/src/main/java/com/maelcolium/telepesa/gateway/filter/JwtAuthenticationFilter.java
  Backend/docker-compose/docker-compose.yml
  Backend/loan-service/src/main/java/com/maelcolium/telepesa/loan/config/SecurityConfig.java
  Backend/loan-service/src/main/java/com/maelcolium/telepesa/loan/security/JwtAuthenticationFilter.java
  Frontend/Web/customer-app/src/api/loans.ts
  Frontend/Web/customer-app/src/views/LoansPage.tsx
Due: backend, frontend

refactor: Update loan service and API gateway configurations
  Backend/api-gateway/src/main/resources/application.yml
  Backend/docker-compose/docker-compose.yml
  Backend/loan-service/src/main/java/com/maelcolium/telepesa/loan/config/RestTemplateConfig.java
  Backend/loan-service/src/main/java/com/maelcolium/telepesa/loan/controller/LoanController.java
  Backend/loan-service/src/main/java/com/maelcolium/telepesa/loan/model/User.java
  Backend/loan-service/src/main/java/com/maelcolium/telepesa/loan/repository/UserRepository.java
  Backend/loan-service/src/main/java/com/maelcolium/telepesa/loan/security/SecurityUtils.java
  Backend/loan-service/src/main/java/com/maelcolium/telepesa/loan/service/UserService.java
  Backend/loan-service/src/main/java/com/maelcolium/telepesa/loan/service/impl/LoanServiceImpl.java
  Backend/shared-libraries/common-models/src/main/java/com/maelcolium/telepesa/models/request/CreateLoanRequest.java
  Backend/user-service/src/main/java/com/maelcolium/telepesa/user/config/SecurityConfig.java
  Backend/user-service/src/main/java/com/maelcolium/telepesa/user/controller/UserController.java
  Backend/user-service/src/main/java/com/maelcolium/telepesa/user/security/JwtAuthenticationFilter.java
  Backend/user-service/src/main/java/com/maelcolium/telepesa/user/security/RateLimitingFilter.java
  Frontend/Web/customer-app/src/api/loans.ts
Due: backend, frontend

feat: Add account retrieval and transaction endpoints in AccountController
  Backend/account-service/src/main/java/com/telepesa/account/controller/AccountController.java
  Backend/docker-compose/docker-compose.yml
  Backend/transfer-service/src/main/java/com/maelcolium/telepesa/transfer/client/AccountServiceClient.java
  Backend/transfer-service/src/main/java/com/maelcolium/telepesa/transfer/service/impl/TransferServiceImpl.java
Due: backend

Path conditions:
  backend: any of: Backend/
  frontend: any of: Frontend/Web/
