Repository malcolmmaima/Telepesa: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

refactor: Replace TransferPage with SimpleTransferPage and update routing
  Frontend/Web/customer-app/src/api/transfers.ts
  Frontend/Web/customer-app/src/router.tsx
  Frontend/Web/customer-app/src/views/SimpleTransferPage.tsx
  Frontend/Web/customer-app/src/views/TransferPage.tsx
Due: frontend

feat: Enhance transfer functionality with new payment methods and routing updates
  Backend/transfer-service/src/main/java/com/maelcolium/telepesa/transfer/dto/CreateTransferRequest.java
  Backend/transfer-service/src/main/java/com/maelcolium/telepesa/transfer/entity/Transfer.java
  Backend/transfer-service/src/main/java/com/maelcolium/telepesa/transfer/service/impl/TransferServiceImpl.java
  Backend/transfer-service/src/main/resources/db/migration/V2__add_external_transfer_fields.sql
  Frontend/Web/customer-app/src/api/transfers.ts
  Frontend/Web/customer-app/src/router.tsx
  Frontend/Web/customer-app/src/views/ComprehensiveTransferPage.tsx
  Frontend/Web/customer-app/src/views/SimpleTransferPage.tsx
Due: backend, frontend

feat: Enhance transfer service with transaction recording and PIN verification
  Backend/docker-compose/docker-compose.yml
  Backend/transfer-service/src/main/java/com/maelcolium/telepesa/transfer/client/TransactionServiceClient.java
  Backend/transfer-service/src/main/java/com/maelcolium/telepesa/transfer/service/impl/TransferServiceImpl.java
  Frontend/Web/customer-app/src/api/security.ts
  Frontend/Web/customer-app/src/components/security/SecurityQuestionsModal.tsx
  Frontend/Web/customer-app/src/components/security/TransactionPinModal.tsx
  Frontend/Web/customer-app/src/components/ui/BackendStatus.tsx
  Frontend/Web/customer-app/src/views/ComprehensiveTransferPage.tsx
  Frontend/Web/customer-app/src/views/RegisterPage.tsx
  Frontend/Web/customer-app/src/views/SimpleTransferPage.tsx
Due: backend, frontend

feat: Add transaction PIN management to user service
  Backend/api-gateway/src/main/resources/application.yml
  Backend/docker-compose/docker-compose.yml
  Backend/user-service/src/main/java/com/maelcolium/telepesa/user/controller/SecurityController.java
  Backend/user-service/src/main/java/com/maelcolium/telepesa/user/dto/ChangePinRequest.java
  Backend/user-service/src/main/java/com/maelcolium/telepesa/user/dto/CreatePinRequest.java
  Backend/user-service/src/main/java/com/maelcolium/telepesa/user/dto/TransactionPinResponse.java
  Backend/user-service/src/main/java/com/maelcolium/telepesa/user/dto/VerifyPinRequest.java
  Backend/user-service/src/main/java/com/maelcolium/telepesa/user/model/User.java
  Backend/user-service/src/main/java/com/maelcolium/telepesa/user/service/UserService.java
  Backend/user-service/src/main/java/com/maelcolium/telepesa/user/service/impl/UserServiceImpl.java
Due: backend

feat: Integrate global toast notifications and enhance API response handling
  Frontend/Web/customer-app/src/api/accounts.ts
  Frontend/Web/customer-app/src/api/client.ts
  Frontend/Web/customer-app/src/api/transactions.ts
  Frontend/Web/customer-app/src/components/ui/GlobalToast.tsx
  Frontend/Web/customer-app/src/main.tsx
  Frontend/Web/customer-app/src/store/toast.ts
  Frontend/Web/customer-app/src/views/ComprehensiveTransferPage.tsx
Due: frontend

feat: Enhance transfer processing with detailed logging and transaction record creation
  Backend/transfer-service/src/main/java/com/maelcolium/telepesa/transfer/service/impl/TransferServiceImpl.java
  Frontend/Web/customer-app/src/api/security.ts
  Frontend/Web/customer-app/src/views/ComprehensiveTransferPage.tsx
Due: backend, frontend

feat: Update transfer processing and configuration for enhanced functionality
  Backend/docker-compose/docker-compose.yml
  Backend/transaction-service/src/main/java/com/maelcolium/telepesa/transaction/config/SecurityConfig.java
  Backend/transaction-service/src/main/java/com/maelcolium/telepesa/transaction/config/TestSecurityConfig.java
  Backend/transfer-service/src/main/java/com/maelcolium/telepesa/transfer/client/TransactionServiceClient.java
  Backend/transfer-service/src/main/java/com/maelcolium/telepesa/transfer/service/impl/TransferServiceImpl.java
  Frontend/Web/customer-app/src/api/transfers.ts
  Frontend/Web/customer-app/src/views/ComprehensiveTransferPage.tsx
Due: backend, frontend

feat: Enhance security configuration and add JWT dependencies
  Backend/docker-compose/docker-compose.yml
  Backend/shared-libraries/common-models/pom.xml
  Backend/shared-libraries/common-models/src/main/java/com/maelcolium/telepesa/models/auth/ServiceAuthToken.java
  Backend/shared-libraries/common-models/src/main/java/com/maelcolium/telepesa/models/auth/ServiceAuthenticationService.java
  Backend/transaction-service/src/main/java/com/maelcolium/telepesa/transaction/TransactionServiceApplication.java
  Backend/transaction-service/src/main/java/com/maelcolium/telepesa/transaction/config/SecurityConfig.java
  Backend/transaction-service/src/main/java/com/maelcolium/telepesa/transaction/config/TestSecurityConfig.java
  Backend/transaction-service/src/main/java/com/maelcolium/telepesa/transaction/controller/InternalTransactionController.java
  Backend/transaction-service/src/main/java/com/maelcolium/telepesa/transaction/controller/ServiceTokenTestController.java
  Backend/transaction-service/src/main/java/com/maelcolium/telepesa/transaction/controller/TestController.java
  Backend/transaction-service/src/main/java/com/maelcolium/telepesa/transaction/security/ServiceAuthenticationFilter.java
  Backend/transfer-service/src/main/java/com/maelcolium/telepesa/transfer/client/TransactionServiceClient.java
  Backend/transfer-service/src/main/java/com/maelcolium/telepesa/transfer/config/FeignConfig.java
  Backend/transfer-service/src/main/java/com/maelcolium/telepesa/transfer/config/ServiceAuthConfig.java
  Screenshots/Web/Screenshot 2025-09-16 at 16.32.45.png
  Screenshots/Web/Screenshot 2025-09-16 at 16.32.58.png
  Screenshots/Web/Screenshot 2025-09-16 at 16.33.44.png
  Screenshots/Web/Screenshot 2025-09-16 at 16.34.05.png
  Screenshots/Web/Screenshot 2025-09-16 at 16.34.24.png
  Screenshots/Web/Screenshot 2025-09-16 at 16.34.38.png
  Screenshots/Web/Screenshot 2025-09-16 at 16.34.45.png
  Screenshots/Web/Screenshot 2025-09-16 at 16.34.54.png
  Screenshots/Web/Screenshot 2025-09-16 at 16.35.02.png
  Screenshots/Web/Screenshot 2025-09-16 at 16.35.09.png
  Screenshots/Web/Screenshot 2025-09-16 at 16.35.22.png
  Screenshots/Web/Screenshot 2025-09-16 at 16.35.34.png
  Screenshots/Web/Screenshot 2025-09-16 at 16.35.39.png
  Screenshots/Web/Screenshot 2025-09-16 at 16.35.46.png
  Screenshots/Web/Screenshot 2025-09-16 at 16.35.55.png
  Screenshots/Web/Screenshot 2025-09-16 at 16.36.07.png
Due: backend

feat: Add web application screenshots and key features to README
  README.md
Due: none

fix: Update README.md screenshots and descriptions for clarity
  README.md
Due: none

docs: Revise README.md to enhance clarity and update section titles
  README.md
Due: none

refactor: Simplify environment configuration and improve PIN status handling
  Backend/docker-compose/docker-compose.yml
  Frontend/Web/customer-app/src/views/ComprehensiveTransferPage.tsx
Due: backend, frontend

chore: Update JWT secret in application.yml for enhanced security
  Backend/transaction-service/src/main/resources/application.yml
Due: backend

feat: Enhance transaction management and user experience with new features
  Backend/transfer-service/src/main/java/com/maelcolium/telepesa/transfer/client/TransactionServiceClient.java
  Backend/transfer-service/src/main/java/com/maelcolium/telepesa/transfer/service/impl/TransferServiceImpl.java
  Frontend/Web/customer-app/src/views/ComprehensiveTransferPage.tsx
  Frontend/Web/customer-app/src/views/HomePage.tsx
  Frontend/Web/customer-app/src/views/TransactionsPage.tsx
  README.md
Due: backend, frontend

feat: Add validation to prevent self-transfers in transfer service and UI
  Backend/transfer-service/src/main/java/com/maelcolium/telepesa/transfer/service/impl/TransferServiceImpl.java
  Frontend/Web/customer-app/src/views/ComprehensiveTransferPage.tsx
Due: backend, frontend

feat: Update transaction status handling and improve service configuration
  Backend/docker-compose/docker-compose.yml
  Backend/transfer-service/Dockerfile
  Backend/transfer-service/src/main/java/com/maelcolium/telepesa/transfer/client/TransactionServiceClient.java
  Backend/transfer-service/src/main/java/com/maelcolium/telepesa/transfer/service/impl/TransferServiceImpl.java
Due: backend

chore: Remove web frontend CI/CD pipeline configuration
  Frontend/Android/customer-app/core/domain/src/main/java/com/telepesa/core/domain/model/TransferRequest.kt
  Frontend/Android/customer-app/core/domain/src/main/java/com/telepesa/core/domain/repository/TransactionRepository.kt
  Frontend/Android/customer-app/core/ui/src/main/java/com/telepesa/core/ui/theme/Color.kt
  Frontend/Android/customer-app/core/ui/src/main/java/com/telepesa/core/ui/theme/Typography.kt
  Frontend/Android/customer-app/feature/onboarding/src/main/java/com/telepesa/feature/onboarding/presentation/OnboardingViewModel.kt
  Frontend/Web/customer-app/src/api/loans.ts
  Frontend/Web/customer-app/src/api/security.ts
  Frontend/Web/customer-app/src/api/transfers.ts
  Frontend/Web/customer-app/src/components/security/SecurityQuestionsModal.tsx
  Frontend/Web/customer-app/src/components/security/TransactionPinModal.tsx
  Frontend/Web/customer-app/src/components/ui/GlobalToast.tsx
  Frontend/Web/customer-app/src/store/toast.ts
  Frontend/Web/customer-app/src/views/ComprehensiveTransferPage.tsx
  Frontend/Web/customer-app/src/views/RegisterPage.tsx
Due: frontend

android ci/cd
  .github/workflows/android-ci.yml
Due: none

feat: Refactor transaction creation response and update security configuration
  Backend/transaction-service/src/main/java/com/maelcolium/telepesa/transaction/config/SecurityConfig.java
  Backend/transaction-service/src/main/java/com/maelcolium/telepesa/transaction/controller/InternalTransactionController.java
  Backend/transaction-service/src/main/java/com/maelcolium/telepesa/transaction/dto/TransactionResponse.java
  Backend/transaction-service/src/test/java/com/maelcolium/telepesa/transaction/config/SecurityConfigTest.java
Due: backend

fix: Update account retrieval method in TransferServiceImplTest
  Backend/transfer-service/src/test/java/com/maelcolium/telepesa/transfer/service/TransferServiceImplTest.java
Due: backend

Path conditions:
  backend: any of: Backend/
  frontend: any of: Frontend/Web/
